<div class="navbar">
    <div class="navbar-container">
        <a href="/"><h1 class="logo">StephTech</h1></a>
        <div class="links">
            <a href="/">Accueil</a>
            <a href="/services">Services</a>
            <a href="/contacts">Contactez-nous</a>
        </div>
    </div>
</div>