<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/style') %>
    <title><%= title %></title>
</head>
<body>
    <header>
        <%- include('./partials/navbar') %>
    </header>
    <main>
        <ul>
            <li>07 59 60 27 15</li>
            <li>07 59 60 27 15</li>
            <li>07 59 60 27 15</li>
            <li>07 59 60 27 15</li>
        </ul>
        <p>A bientôt</p>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>