<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/style') %>
    <title><%= title %></title>
</head>
<body>
    <header>
        <%- include('./partials/navbar') %>
    </header>
    <main>
        <ol>
            <li>Informatique</li>
            <li>Informatique</li>
            <li>Informatique</li>
            <li>Informatique</li>
            <li>Informatique</li>
        </ol>
        <p>Aucune goutte de lait ne tombe dans la bouche d'un bébé qui dort. Seul le travail paie</p>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>